<% @categories.each_with_index do |category, index| %>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id=<%="heading#{index}"%>>
        <h5>
          <button class="pantry-category-header" data-toggle="collapse" data-target="<%="#collapse#{index}"%>" aria-expanded="true" aria-controls="<%="collapse#{index}"%>">
            <% if category.sub_category.nil? %>
              <%= category.main_category.capitalize %>
            <% else %>
              <%= category.sub_category.capitalize %>
            <% end %>
          </button>
        </h5>
      </div>
      <div id="<%="collapse#{index}"%>" class="collapse" aria-labelledby="<%="heading#{index}"%>" data-parent="#accordion">
        <div class="card-body">
          <%= render 'pantry-item', item_amounts: category.item_amounts.where(user_id: current_user.id) %>
        </div>
      </div>
    </div>
  </div>
<% end %>