<% item_amounts.each do |item_amount| %> 
  <div class="card-pantry-item">
    <div class="card-pantry-item-name <%= item_amount.expired? ? "card-pantry-item-expired" : "" %>">
      <h6><%= item_amount.item.item_name %></h6>
        <div class="tag-search">
          <div>
            <% if item_amount.expiry_date.present? %>
              <p>Expires: <%= item_amount.expiry_date %></p>
            <% end %>
          </div>
          <%= link_to recipes_path(tag: item_amount.item.item_name.downcase) do %>
            <p><i class="fas fa-search"></i></p>
          <% end %>
        </div>
    </div>
    <div class="card-pantry-item-amount <%= item_amount.expired? ? "card-pantry-item-expired" : "" %>">
      <h6><%= item_amount.description.to_s %></h6>
    </div>
  </div>
<% end %>
