<div class="container">
  <% @item_amounts.each_with_index do |category, index| %>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id=<%="heading#{index}"%>>
          <h6>
            <button class="pantry-category-header" data-toggle="collapse" data-target=<%="#collapse#{index}"%> aria-expanded="true" aria-controls=<%="collapse#{index}"%>>
              <%= category.first.capitalize %>
            </button>
          </h6>
        </div>
        <div id=<%="collapse#{index}"%> class="collapse show" aria-labelledby=<%="heading#{index}"%> data-parent="#accordion">
          <div class="card-body">
            <%= render 'pantry-item-card', item_amounts: category.last %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>