<div class="container grid">
  <% if @recipes.empty? %>
    <div class="recipe-cards-grid">
      <div class="error-message">
        <div class="error-image">
          <i class="fas fa-utensils"></i>
        </div>
        <h4>Nothing yet saved with<br>
          <span class="text-primary"><%= params[:tag].nil? ? "this recipe" : params[:tag].capitalize %>.</span><br>
          <br>
          Would you like to search our recommended recipes?</h4>
        <br>
        <br>
      </div>
      <div class= "action-button-outline">
        <h5><%= link_to 'Search &nbsp; <i class="fas fa-search"></i>'.html_safe, search_recipe_path(tag: @tag)%></h5>
      </div>
    <% else %>
      <% @recipes.each do |recipe| %>
        <div class="recipe-cards">
          <div class="recipe-cards-photo">
            <% if recipe.image.nil? %>
              <%= cl_image_tag recipe.photo.key, class: "recipe-cards-photo", alt: "My Recipe" %>
            <% else %>
              <%= image_tag (recipe.image), class: "recipe-cards-photo" %>
            <% end %>
          </div>
          <div class="recipe-cards-body">
            <h5 class="recipe-cards-title"><%= link_to recipe.recipe_name.capitalize, recipe_path(recipe) %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="recipe-cards">
  <div class="recipe-cards-photo">
    <div class="recipe-cards-body">
      <h5 class="recipe-cards-title">