<div class="container">
  <h4 class="page-title-recipe">Add your favorite recipe</h4>
  <div class="grid">
    <div class="form">
      <h5>Recipe overview</h5>
      <div class="recipe-form">
        <%= simple_form_for @recipe do |f| %>
          <%= f.input :recipe_name, placeholder: "Egg Scramble" %>
          <%= f.input :instructions, placeholder: "1. Bring a small pot of salted water to a boil." %>
          <%= f.input :tag_list, placeholder: "Egg, (Separate tags with comma)" %>
          <%= f.input :photo, as: :file %>
        </div>
        <h5>List ingredients</h5>
        <div class="recipe-form">
          <div class="form-group">
            <ul class="ingr-input">
              <li>
                <%= f.simple_fields_for :recipe_amounts do |f| %>
                  <%= f.association :item,
                label_method: :item_name,
                input_html: { class: "select2" },
                include_hidden: true %>
                  <%= f.input :description %>
                <% end %>
              </li>
            </ul>
            <%= link_to '+ Add Ingredient', "#", class: 'new-ingr-btn' %>
          </div>
        </div>
      </div>
      <%= f.submit class: 'btn action-button-solid' %>
    <% end %>
  </div>
</div>