<div class="container">
  <h4 class="page-title-recipe">Add your favorite recipe</h4>
  <div class="grid">
    <div class="form">
      <h5 class="text-primary">Recipe Overview</h5>
      <div class="recipe-form-white">
        <%= simple_form_for @recipe do |f| %>
          <%= f.input :recipe_name, placeholder: "Egg Scramble" %>
          <%= f.input :instructions, placeholder: "1. Bring a small pot of salted water to a boil." %>
          <%= f.input :tag_list, placeholder: "Egg, (Separate tags with comma)" %>
          <%= f.input :photo, as: :file %>
        </div>
        <br>
        <br>
        <h5 class="text-primary">Ingredients</h5>
        <div class="recipe-form-white">
          <div class="form-group">
            <div class="fieldsetContainer">
              <%= f.simple_fields_for :recipe_amounts do |f| %>
                <fieldset id="0">
                  <%= f.association :item,
                label_method: :item_name,
                input_html: { class: "select2" },
                include_hidden: true %>
                  <%= f.input :description, placeholder: "1/4 cup of milk", label: false %>
                </fieldset>
              <% end %>
            </div>
            <div class="new-ingr-btn text-primary" id="addIngredientBtn">
              + Add Ingredient
            </div>
          </div>
        </div>
        <br>
        <div class="add-recipe-btn">
          <%= f.submit class: 'btn add-recipe-btn' %>
        </div>
      <% end %>
    </div>
    <br>
  </div>
</div>