<div class="container grid">
  <div class="recipe-card">
    <% if @recipe.image.nil? %>
      <%= cl_image_tag @recipe.photo.key, class: "recipe-card-photo", alt: "My Recipe" %>
    <% else %>
      <%= image_tag (@recipe.image), class: "recipe-card-photo" %>
    <% end %>
    <div class="recipe-card-body">
      <div class="recipe-card-title">
        <h3><%= @recipe.recipe_name.capitalize %>
          <a href="#" class="text-primary" data-toggle="modal" data-target="#editRecipe">
            <i class="far fa-edit"></i></a>
        </div>
      </div>
    </div>
    <div class="tags">
    <%= render 'shared/tag-list' %>
    </div>
    <h4 class="sub-heading">Ingredients</h4>
    <table>
      <% @recipe.recipe_amounts.each do |recipe_amount| %>
        <tr class="ingredient-box">
          <td><%= recipe_amount.description %></td>
        </tr>
      <% end %>
    </table>
    <h4 class="sub-heading">Instructions</h4>
    <div class="content-box">
      <p><%= simple_format(@recipe.instructions) %></p>
    </div>
    <%= link_to "Delete recipe", recipe_path(@recipe), method: :delete, data: { confirm: "Delete recipe?" }, class: "action-button-solid" %>
  </div>
  <!-- Edit ingrient modal -->
  <div class="modal fade" id="editRecipe" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit recipe for <%= @recipe.recipe_name.capitalize %> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- recipe name and instructions-->
          <div>
            <%= simple_form_for @recipe do |f| %>
              <%= f.input :recipe_name %>
              <%= f.simple_fields_for :recipe_amounts do |recipe_amount| %>
                <%= recipe_amount.association :item, label_method: :item_name, input_html: { class: "select2" }, include_hidden: true %>
                <%= recipe_amount.input :description %>
              <% end %>
              <%= f.input :instructions %>
              <%= f.input :photo, as: :file %>
              <%= f.submit class: 'btn btn-secondary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>