<% content_for :meta_title, "#{@recipe.recipe_name.capitalize} is on #{DEFAULT_META["meta_product_name"]}" %>
<% if @recipe.summary %>
  <% content_for :meta_description, @recipe.summary[0..200] + "..." %>
<% end %>
<% if @recipe.photo.key %>
  <% content_for :meta_image, cl_image_path(@recipe.photo.key) %>
<% else %>
  <% content_for :meta_image, cl_image_path(@recipe.image) %>
<% end %>
<div class="container grid">
  <% if @recipe.image.nil? %>
    <%= cl_image_tag @recipe.photo.key, class: "recipe-card-photo", alt: "My Recipe" %>
  <% else %>
    <%= image_tag (@recipe.image), class: "recipe-card-photo" %>
  <% end %>
  <div class="recipe-card-body">
    <div class="recipe-card-title d-flex justify-content-center">
      <h3><%= @recipe.recipe_name.capitalize %>&nbsp;</h3>
      <h3><%= link_to ('<i class="far fa-edit"></i>').html_safe, edit_recipe_path(@recipe) %>
      </h3>
    </div>
    <div class="recipe-card">
    </div>
    <div class="tags">
      <%= render 'shared/tag-list' %>
    </div>
    <br>
  </div>
  <div class="sub-heading d-flex justify-content-between">
    <h4><%= link_to ('Ingredients&nbsp;<i class="far fa-edit"></i>').html_safe, edit_recipe_path(@recipe) %></h4>
  </div>
  <table>
    <% @available_items.each do |recipe_amount| %>
      <tr class="ingredient-box">
        <td><span><i class="fas fa-check-circle text-primary"></i></span>&nbsp;<%= recipe_amount.item.item_name %></td>
        <td><%= recipe_amount.description %></td>
      </tr>
    <% end %>
    <% @missing_items.each do |recipe_amount| %>
      <tr class="ingredient-box-amount">
        <td><%= recipe_amount.item.item_name %></td>
        <td><%= recipe_amount.description %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to 'Send to LINE', shopping_list_path(@shopping_list), class: "button-solid" %>
  <div class="sub-heading">
    <h4><%= link_to ('Instructions&nbsp; <i class="far fa-edit"></i>').html_safe, edit_recipe_path(@recipe) %></h4>
  </div>
  <div class="content-box">
    <p><%= simple_format(@recipe.instructions) %></p>
  </div>
  <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete, data: { confirm: "Delete recipe?" }, class: "button-outline" %>
</div>