<div class="container">
  <div class="grid">
    <div class="recipe-card-item">
      <div class="recipe-card-photo">
        <% if @recipe.image.nil? %>
          <%= cl_image_tag @recipe.photo.key, class: "recipe-card-photo", alt: "My Recipe" %>
        <% else %>
          <%= image_tag (@recipe.image), class: "recipe-card-photo" %>
        <% end %>
      </div>
      <div class="recipe-card-body">
        <div class="recipe-card-title d-flex">
          <h5><%= @recipe.recipe_name.capitalize %></h5>
          &nbsp;
          <p class="recipe-card-edit"><%= link_to ('<i class="far fa-edit"></i>').html_safe, edit_recipe_path(@recipe) %></p>
        </div>
        <div class="recipe-card-content">
          <div class="recipe-ingredient-amount">
            <div class="d-flex">
              <h5>Ingredients</h5>
              &nbsp;
              <p class="recipe-card-edit"><%= link_to ('<i class="far fa-edit"></i>').html_safe, new_recipe_recipe_amount_path(@recipe) %></p>
            </div>
            <p><% @recipe.recipe_amounts.each do |recipe_amount| %>
                <%= recipe_amount.item.item_name.capitalize %>
              <% end %></p>
          </div>
          <div class="recipe-card-content">
            <h5>Instructions</h5>
            <p><%= simple_format(@recipe.instructions) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>