<div class="container">
  <% if @recipe.image.nil? %> 
    <%= cl_image_tag @recipe.photo.key, class: "recipe-card-photo", alt: "My Recipe" %>
  <% else %>
    <%= image_tag (@recipe.image), class: "recipe-card-photo" %>
  <% end %>

  <div class="recipe-title">
    <h3><%= @recipe.recipe_name.capitalize %></h3>
  </div>

  <div class="content-box">
    <p class="recipe-card-edit"><i class="far fa-edit"></i></p>
      <h4>Ingredients</h4>
      <p><%= @recipe.recipe_amounts.each do |recipe_amounts| %>
        <% end %></p>
  </div>

  <div class="content-box">
    <h4>Instructions</h4>
    <p><%= @recipe.instructions %></p>
  </div>
</div>
