<div class="container">
  <%= image_tag(@recipe[:img_url]) %>
  <div class="recipe-title">
    <h3><%= @recipe[:name] %></h3>
  </div>
  <div class="content-box">
    <h4>Ingredients</h4>
    <% @recipe[:ingredients].each do |ingredient| %>
      <p><%= ingredient[:name] %>: <span><%= ingredient[:description] %></span></p>
    <% end %>
  </div>
  <div class="content-box">
    <h4>Instructions</h4>
    <% @recipe[:instructions].each do |step| %>
      <p><%= simple_format(step) %></p>
    <% end %>
  </div>
  <%= link_to 'Save', import_recipe_path(recipe_id: @recipe[:id]), class: "button-solid" %>
</div>