<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="navbar-brand-name">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "pantry.png" %>
    <% end %>
    <h2>Pantry</h2>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <%= image_tag "https://avatars.githubusercontent.com/u/54582562?s=460&u=1bccc3a72f515fd0e0393d4010ecfc54c29e0d26&v=4", class: "avatar" %>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Settings", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", "#", class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>